body {
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
  line-height: 1.5;
}

:root {
  --paddingLR: 10%;
  --gray: #6a6f73;
  --light-gray: #f8f9fb;
  --orange: #d16e42;
  --blue: #5624d0;
  --dark-gray: #1c1d1f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
}
.nav {
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 4px 4px rgba(41, 43, 41, 0.373);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  z-index: 4;
}
.udemy-logo {
  display: block;
  width: 6rem;
}
.search {
  width: 40%;
  padding: 1rem;
  border-radius: 50px;
  font-size: 1rem;
  background: url(./images/search-icon.png);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  background-color: #f7f9fa;
  text-indent: 2rem;
}
.login,
.signup {
  padding: 0.7em 1.4em;
  border: 2px solid black;
  color: black;
  text-decoration: none;
}
.signup {
  background-color: black;
  color: white;
}
.globe {
  color: black;
}
.cart {
  margin-left: 1rem;
}
/* HEADER STYLES */
header {
  height: 50vh;

  z-index: -2;
  position: relative;
}
.header-image_container {
  height: 100%;
  padding: 0rem var(--paddingLR);
}
.header-image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70%;
}
.header-hero_box {
  background: white;

  position: absolute;

  left: 15rem;
  top: 4rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  width: 500px;
}

.header-hero_box p {
  font-size: 1.5rem;
  padding-left: 2rem;
  line-height: 1.4;
}
.header-hero_box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 2rem;
}
.mobile-search,
.main-search {
  display: none;
}

/* MAIN SECTION STYLING */
main {
  padding: 1rem var(--paddingLR);
}
main .learn {
  display: none;
}
.main-search {
  width: 100%;
  padding: 1rem 0;
  text-indent: 1rem;
  background: url(./images/search-icon.png) no-repeat;
  background-size: 1rem;
  background-position: 90%;
  border: 1px solid #1c1d1f;
}
h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
h3 + p {
  font-size: 1.5rem;
}
.courses {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-top: 2rem;
}
.courses a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--gray);
  font-weight: bold;
}
.courses a:hover {
  color: black;
}
.courses a span {
  visibility: hidden;
}

/* COURSE PYTHON STYLING */

.course-python {
  border: 1px solid var(--light-gray);
  margin-top: 2rem;
  padding: 1rem 2rem;
}
h4 {
  font-size: 1.7rem;
  margin: 0;
}
h4 + p {
  font-size: 1.2rem;
  width: 70%;
  line-height: 1.4;
}
.course-python .explore {
  padding: 1em;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  color: black;
}

.course-topics {
  display: flex;
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
  gap: 1rem;
}

.course-topics .box {
  min-width: 20rem;
}
.course-img {
  width: 100%;
}
.course-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.course-author {
  font-size: 0.9rem;
  color: var(--gray);
  font-weight: bold;
}
.rating {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: var(--orange);
  font-weight: bold;
}
.rating span {
  color: var(--gray);
}
.course-price {
  font-weight: bold;
  font-size: 1rem;
}
/* TOP CATEGORIES STYLING */

.categories-list img {
  width: 100%;
}
.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
.categories-list p {
  font-size: 1.2rem;
  font-weight: bold;
}
.mobile-categories {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}
.mobile-categories p {
  padding: 1em 0.8em;
  border: 1px solid black;
  border-radius: 50px;

  font-weight: bold;
}
/* FEATURED STYLING */

.featured {
  padding: 2rem var(--paddingLR);
  background-color: var(--light-gray);
}
.featured-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.featured-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.featured-list div {
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin-bottom: 0.8rem;

  width: max-content;
}
.featured-list div a {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--blue);
}
.featured-list span {
  color: var(--gray);
  font-size: 0.8rem;
}
.explore {
  padding: 1em 0.8em;
  font-weight: bold;
  border: solid 1px black;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  display: inline-block;
}
/* TRUST COMPANIES STYLINGS */
.trust-companies {
  text-align: center;
  padding: 3rem var(--paddingLR);
  line-height: 1.5;
}
.trust-companies .trust-title {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0;
}
.trust-companies p {
  font-size: 1.2rem;
  color: var(--dark-gray);
  margin: 0;
  letter-spacing: 1;
}
.trust-companies_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}
/* UDEMY BUSINESS STYLES */

.udemy-business {
  padding: 3rem 20%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.box,
.instructor-box {
  width: 50%;
  height: 25rem;
}

.box2 {
  background-image: url(./images/woman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.box1 .udemy-businessLogo {
  width: 10rem;
}
.upskill {
  margin: 0;
}

.circle {
  font-size: 0.5rem;
  margin-right: 1rem;
}
.text {
  display: flex;
  align-items: baseline;
  text-align: left;
  line-height: 1.5;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
.get,
.learnMore {
  padding: 1em 0.7em;
  border: 1px solid black;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.get {
  background-color: black;
  color: white;
}
.info {
  margin-top: 1.5rem;
}
/* instructor styles */
.instructor {
  display: flex;
  padding: 2rem 20%;
  color: black;
}
.instructor div {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.instructor-img img {
  width: 80%;
  height: 100%;
}
.teach {
  padding: 1em 0.8em;
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.2rem;
}
/* footer styles */
footer {
  background-color: black;
  padding: 3rem 4rem;
}
.footer-flex {
  
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-flex div {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 1rem;
}
.footer-flex div a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.footer-flex div a:hover {
  text-decoration: underline;
}
.udemy-copyright {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 3rem;
  align-items: flex-start;
}
.udemy-copyright img {
  width: 5rem;
}
footer .container-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.english{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 1em 2em;
  font-weight: bold;
}
/* MEDIA QUERIES */
@media (min-width: 992px) {
  .mobile-nav,
  .mobile-categories {
    display: none;
  }
}
@media screen and (min-width: 993px) and (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 992px) {
  :root {
    --paddingLR: 5%;
  }
  h3 {
    font-size: 1.5rem;
  }

  .desktop-nav {
    display: none;
  }
  .mobile-search {
    display: block;
  }
  .nav {
    padding: 1rem var(--paddingLR);
  }
  .header-hero_box {
    display: none;
  }

  .header-image_container {
    padding: 0rem;
  }
  main p {
    font-size: 1rem;
  }
  main .learn {
    display: block;
  }
  .main-search {
    display: block;
    margin: 2rem 0;
  }
  .courses {
    display: flex;
    width: 100%;
    overflow-x: auto;
  }
  .courses::-webkit-scrollbar {
    width: 0;
  }
  .courses a {
    min-width: fit-content;
    margin-right: 2rem;
    font-size: 1rem;
  }
  h4 + p {
    width: 100%;
  }
  .udemy-business {
    padding: 2rem var(--paddingLR);
    flex-direction: column-reverse;
  }
  .business-box1 {
    text-align: center;
  }

  .text {
    font-size: 1rem;
  }
  .box,
  .instructor div {
    width: 100%;
  }

  .get,
  .learnMore {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
  }

  .instructor {
    padding: 2rem var(--paddingLR);
    flex-direction: column;
  }
  .instructor div {
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }

  .teach {
    align-self: stretch;
  }
footer .container-footer{
flex-direction: column-reverse;
}
.footer-flex {
margin-top: 2rem;
}
@media (max-width: 600px) {
  .course-python_text {
    display: none;
  }
  .trust-companies_logo img {
    width: 4rem;
  }
  .instructor-text p {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .courses {
    display: block;

    line-height: 2;
    padding-top: 0;
  }
  .courses a {
    display: block;
    border-top: 1px solid var(--gray);
    width: 100%;
    color: black;
    padding: 0.7rem 0;
  }
  .drawing {
    border-bottom: 1px solid var(--gray);
  }
  .courses a span {
    visibility: visible;
    float: right;
  }
  .course-python {
    display: none;
  }
  .categories-list {
    display: none;
  }
  .featured-list div {
    width: 8rem;
  }
  .featured-list div a {
    font-size: 0.8rem;
  }
  .featured-title {
    font-size: 0.9rem;
  }

  .featured-list span {
    font-size: 0.6rem;
  }
  .explore {
    display: block;
    text-align: center;
  }
  .box2 {
    height: 15rem;
  }
  .instructor div {
    height: 15rem;
  }
  .instructor-img img {
    height: 100%;
  }
  .udemy-copyright{
    flex-direction: column;
      font-size: .7rem;
  }
  footer{
    padding: 2rem var(--paddingLR);
  }
}
  